
@import "tailwindcss";



@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  
  /* Manually defining breakpoints if they aren't loading */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}
#root {
  max-width: 1440px;
  margin: 0 ;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color: #f9f9f9;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media (max-width:512px) {
  #root {
  max-width: 1440px;
  margin: 0 ;
  padding: 0rem;
  text-align: center;
  width: 100%;
  background-color: #f9f9f9;
}

}